:root {
  --spacing: 1rem; 
  --font-base: 1rem; 
}

.homepage {
  background-color: #fff;
  display: flex;
  max-width: 80vw; 
  width: 100%;
  padding-bottom: var(--spacing);
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.homepageheader {
  background: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5vw; 
  overflow: hidden;
  font-size: 2.25rem; 
  color: #18191f;
  font-weight: 800;
  white-space: nowrap;
  line-height: 1;
  padding: 10vh 5vw 5vh; 
  justify-content: space-around;
}

.logo {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 2rem;
  margin-top: 0.5rem;
}

.brandName {
  font-feature-settings: "liga" off, "clig" off;
}

.homepageprojectCreation {
  align-items: center;
  background: #fff;
  display: flex;
  margin-top: 0.25rem;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding: 0;
}

.homepagecontentWrapper {
  display: flex;
  max-width: 90%;
  width: 80vw; 
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
}

.homepagetitle {
  color: #18191f;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1;
  margin: 1rem auto;
}

.homepagesubtitle {
  color: #474a57;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-top: 0.5rem;
  text-align: center;
}

.homepageactionButton {
  align-items: center;
  border-radius: 1rem;
  background: #f95a2c;
  box-shadow: 0 0.5rem 0 0 #18191f;
  align-self: center;
  margin-top: 1rem;
  flex-direction: column;
  overflow: hidden;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 800;
  line-height: 1;
  justify-content: center;
  padding: 1.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.homepagebuttonText a {
  text-decoration: none;
}

.homepagebuttonText {
  font-feature-settings: "liga" off, "clig" off;
  align-self: stretch;
  gap: 0.5rem;
  overflow: hidden;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.homepageprojectIllustration {
  aspect-ratio: 1.05;
  object-fit: contain;
  object-position: center;
  width: 90%;
  align-self: center;
  margin-top: 5vh; 
}


@media (min-width: 768px) and (max-width: 1024px) {
  .homepage {
    max-width: 80vw;
    padding: 2rem;
    margin: auto;
  }

  .homepageheader {
    font-size: 3rem;
    gap: 4vw;
    padding: 10vh 5vw 5vh;
  }

  .homepagecontentWrapper {
    width: 70vw;
  }

  .homepagetitle {
    font-size: 3rem;
    margin: auto;
  }

  .homepagesubtitle {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .homepageactionButton {
    font-size: 1.8rem;
    padding: 1.5rem;
  }
  
  .homepageprojectIllustration {
    width: 60%;
    margin-top: 5vh;
  }
}


@media (min-width: 1024px) {
  .homepage {
    max-width: 60vw;
    margin: auto;
  }

  .homepageheader {
    font-size: 3.5rem;
    gap: 5vw;
    padding: 10vh 5vw 5vh;
  }

  .homepagecontentWrapper {
    width: 60vw;
  }

  .homepagetitle {
    font-size: 3.5rem;
  }

  .homepagesubtitle {
    font-size: 2rem;
    line-height: 2rem;
  }

  .homepageactionButton {
    font-size: 2rem;
    padding: 2rem;
  }

  .homepageprojectIllustration {
    width: 40%;
    margin-top: 5vh;
  }
}
