:root {
  --spacing: 1rem; 
  --font-base: 1rem; 
}

.loginContainer {
  background: var(--Colors-White, #fff);
  max-width: 90vw;
  width: 100%;
  color: var(--Colors-Black, #18191f);
  margin: 0 auto;
  font: 500 1.3125rem/1 Montserrat, -apple-system, Roboto, Helvetica, sans-serif; /* 21px converted to rem */
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
}

.loginformContainer {
  background: var(--Colors-White, #fff);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logintitle {
  color: #000;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 2.25rem; 
  font-weight: 800;
  line-height: 1;
}

.loginsubtitle {
  color: var(--Colors-Black-800, #474a57);
  font-feature-settings: "liga" off, "clig" off;
  line-height: 1.5rem; 
  margin-top: 0.75rem; 
  text-align: center;
}

.logininputWrapper,
.loginsubmitButton {
  width: 88%; 
  padding: 0.5rem;
  border: 2px solid var(--Colors-Black, #18191f); 
  box-sizing: border-box; 
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 1rem;
}

.logininputWrapper {
  background: var(--Colors-White, #fff);
  margin-top: 2rem;
  padding-right: 0.75rem;
}

.logininputContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.logininputIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 1.5rem; 
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.logininput {
  font-feature-settings: "liga" off, "clig" off;
  width: 100%;
  height: 2rem; 
  padding: 0.25rem; 
  border: none;
  background: transparent;
  font-size: inherit;
}

.loginsubmitButton {
  background: var(--Colors-Yellow, #ffbd12);
  box-shadow: 0 0.25rem 0 0 #18191f;
  margin-top: 2rem;
  font-weight: 1000;
  text-align: center;
  cursor: pointer;
  font-size: 1.4375rem;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  padding: 1rem;
}

.loginsignupLink {
  color: var(--Colors-Red, #f95a2c);
  font-feature-settings: "liga" off, "clig" off;
  line-height: 1;
  margin-top: 2rem; 
}

.loginsignupLink span {
  font-weight: 700;
}

.loginerrorMessage {
  color: var(--Colors-Red, #f95a2c);
  font-size: 0.875rem;
  margin-top: 0.75rem; 
}

@media (min-width: 768px) and (max-width: 1024px) {
  .loginContainer {
    max-width: 80vw;
  }

  .logintitle {
    font-size: 3rem;
  }

  .loginsubtitle {
    font-size: 1.5rem; 
    line-height: 2rem; 
    margin-top: 1rem; 
  }

  .logininputWrapper {
    width: 90%;
    padding: 1.25rem; 
  }

  .loginsubmitButton {
    width: 90%;
    font-size: 1.8rem; 
    padding: 1.5rem; 
  }

  .loginsignupLink {
    font-size: 1.5rem; 
    margin-top: 2.5rem;
  }

  .loginerrorMessage {
    font-size: 1rem; 
  }
}

@media (min-width: 1024px) {
  .loginContainer {
    max-width: 60vw; 
  }

  .logintitle {
    font-size: 3.5rem;
  }

  .loginsubtitle {
    font-size: 2rem; 
    line-height: 2rem; 
    margin-top: 1.25rem;
  }

  .loginsubmitButton {
    width: 90%;
    font-size: 2rem; 
    padding: 1.5rem; 
  }
  .loginsignupLink {
    font-size: 2rem; 
    margin-top: 1.875rem; 
  }

  .loginerrorMessage {
    font-size: 2rem;
  }
}
