.notcontainer {
  background-color: #fff;
  display: flex;
  max-width: 90vw;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1.25rem 0 2.375rem;
}

.notimageBg {
  background-color: #ff9692;
  border-radius: 50%;
  display: flex;
  width: 40vw;
  max-width: 19.31rem;
  flex-direction: column;
  align-items: start;
  aspect-ratio: 1;
  padding: 3.0625rem 2.625rem 0;
}

.noterrorImage {
  aspect-ratio: 0.87;
  object-fit: contain;
  object-position: center;
  
  z-index: 10;
  margin-bottom: -2.125rem;
}

.nottextContainer {
  align-self: stretch;
  display: flex;
  margin-top: 0.5625rem;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #000;
  text-align: center;
  justify-content: center;
  padding: 2rem 1.5rem;
}

.nottextBox {
  display: flex;
  max-width: 100%;
  width: 20.43rem;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.nottitle {
  font-feature-settings: "liga" off, "clig" off;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.notsubtitle {
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

.notbackButton {
  align-items: center;
  border-radius: 1rem;
  border: 0.125rem solid #18191f;
  background: #ffbd12;
  box-shadow: 0 0.25rem 0 0 #18191f;
  display: flex;
  
  width: 100%;
  max-width: 20.43rem;
  flex-direction: column;
  overflow: hidden;
  color: #18191f;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  font: 800 1.3125rem/1 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.notbackButtonContent {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  overflow: hidden;
  justify-content: start;
}

.notbackButtonIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 1.5rem;
  align-self: stretch;
  margin: auto 0;
}

.notbackButtonText {
  font-feature-settings: "liga" off, "clig" off;
  align-self: stretch;
  margin: auto 0;
}

/* Styles for tablets (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .notcontainer {
    max-width: 80vw;
    padding: 0;
    
  }

  .notimageBg {
    max-width: 25rem;
    padding: 0;
    width: 32.3vw;
  }

  .noterrorImage {
    margin-bottom: -2.5rem;
    width: 30vw;
    margin-left: 1.2rem;
  }

  .nottextContainer {
    margin-top: 1rem;
    padding: 0;
  }

  .nottextBox {
    width: 90%;
  }

  .nottitle {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .notsubtitle {
    font-size: 1.625rem;
    line-height: 2rem;
    margin-top: 2rem;
  }

  .notbackButton {
    max-width: 25rem;
    font-size: 1.5rem;
    padding: 1.25rem;
    margin-top: 1.25rem;
  }

  .notbackButtonContent {
    gap: 0.625rem;
  }

  .notbackButtonIcon {
    width: 1.75rem;
  }
}

/* Styles for larger screens (1024px and up) */
@media (min-width: 1024px) {
  .notcontainer {
    max-width: 80vw;
    padding: 0;
    
  }

  .notimageBg {
    max-width: 25rem;
    padding: 0;
    width: 22.3vw;
  }

  .noterrorImage {
    margin-bottom: -2.5rem;
    width: 20vw;
    margin-left: 1.2rem;
  }

  .nottextContainer {
    margin-top: 1rem;
    padding: 0;
  }

  .nottextBox {
    width: 90%;
  }

  .nottitle {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .notsubtitle {
    font-size: 1.625rem;
    line-height: 2rem;
    
  }

  .notbackButton {
    max-width: 25rem;
    font-size: 1.5rem;
    padding: 1.25rem;
    margin-top: 0;
    
  }

  .notbackButtonContent {
    gap: 0.625rem;
  }

  .notbackButtonIcon {
    width: 1.75rem;
  }
}
