.projectDetails {
  background-color: #fff;
  display: flex;
  max-width: 480px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  padding: 120px 0 32px;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.projectTitle {
  background-color: #fff;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 30px 21px;
  font: 800 30px/1 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  position: relative;
}

.projectTitleMain {
  color: #18191f;
  font-feature-settings: "liga" off, "clig" off;
}

.projectInfo {
  border-radius: 16.863px;
  border: 2.108px solid #18191f;
  background-color: #fff3f8;
  box-shadow: 0 6.324px 0 0 #18191f;
  width: 100%;
  max-width: 420px;
  flex-direction: column;
  padding: 20px 23px;
  margin: 10px;
}

.projectInfoTitle {
  color: #18191f;
  font-feature-settings: "liga" off, "clig" off;
  font: 700 21px/30px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.projectInfoDate {
  color: #18191f;
  font-feature-settings: "liga" off, "clig" off;
  align-self: start;
  margin-top: 36px;
  font: 700 15px/2 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.projectInfoDeadline {
  color: #474a57;
  align-self: start;
  margin-top: 9px;
  font: 500 14px/1 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.projectInfoActions {
  display: flex;
  margin-top: 30px;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

/* Checkbox Styles (Updated) */

.checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox {
  border-radius: 8px;
  border: 2px solid #9fa4b4;
  background: #eeeff4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.checkbox.checked {
  background: #9fa4b4;
}

.checkbox:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.checkboxIcon {
  width: 40px; 
  height: 40px;
  object-fit: contain;
  object-position: center;
  position: absolute;
}

.editButton {
  font-feature-settings: "liga" off, "clig" off;
  border-radius: 12.647px;
  border: 2.108px solid #18191f;
  background-color: #ffbd12;
  box-shadow: 0 2.108px 0 0 #18191f;
  overflow: hidden;
  color: #18191f;
  white-space: nowrap;
  text-align: center;
  padding: 10px 17px;
  font: 800 12px/1 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: auto;
}

.addTaskForm {
  border-radius: 16px;
  border: 2px solid #18191f;
  box-shadow: 0 2px 0 0 #18191f;
  background-color: #d6fcf7;
  align-items: flex-end;
  margin-top: 17px;
  width: 100%;
  max-width: 440px;
  gap: 20px;
  color: #18191f;
  justify-content: space-between;
  padding: 13px 17px 22px;
  font: 13px/1 Montserrat, sans-serif;
  position: relative;
  flex-direction: column;
}

.addTaskTitle {
  font-feature-settings: "liga" off, "clig" off;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  align-self: flex-start;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 100%;
  gap: 10px;
}

.inputContainer {
  border-radius: 9.982px;
  border: 1.248px solid #18191f;
  background-color: #fff;
  display: flex;
  margin-top: 7px;
  width: 75%;
  padding: 9px 10px;
}

.inputIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 15px;
  margin-right: 7px;
}

.taskInput,
.deadlineInput {
  font-feature-settings: "liga" off, "clig" off;
  border: none;
  background: transparent;
  width: 100%;
  font: inherit;
}

.calendarIcon {
  aspect-ratio: 0.77;
  object-fit: contain;
  object-position: center;
  width: 27px;
}

.addButton {
  font-feature-settings: "liga" off, "clig" off;
  border-radius: 12.647px;
  border: 2.108px solid #18191f;
  background-color: #ffbd12;
  box-shadow: 0 2.108px 0 0 #18191f;
  align-self: flex-end;
  margin-top: auto;
  min-height: 36px;
  overflow: hidden;
  font-weight: 800;
  white-space: nowrap;
  text-align: center;
  padding: 10px 17px;
  cursor: pointer;
  margin: 10px;
}

.taskCard {
  display: flex;
  margin-top: 17px;
  width: 100%;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  padding: 0 24px 22px;
  position: relative;
}

.taskContent {
  border-radius: 16px;
  border: 2px solid #18191f;
  box-shadow: 0 2px 0 0 #18191f;
  background-color: #e9e7fc;
  display: flex;
  min-height: 151px;
  flex-direction: column;
  overflow: hidden;
  justify-content: start;
  padding: 32px 24px 67px;
}

.taskDeadline {
  color: #474a57;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

.taskDescription {
  color: #18191f;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
  margin-top: 8px;
}

.deleteButton {
  font-feature-settings: "liga" off, "clig" off;
  border-radius: 12px;
  border: 2px solid #18191f;
  box-shadow: 0 2px 0 0 #18191f;
  background-color: #ffbd12;
  align-self: end;
  z-index: 10;
  overflow: hidden;
  font-size: 12px;
  color: #18191f;
  font-weight: 800;
  white-space: nowrap;
  text-align: center;
  line-height: 1;
  padding: 10px 16px;
  position: absolute;
  bottom: 80px;
  right: 46px;
  cursor: pointer;
  margin: 10px;
}
