.container {
    background-color: #fff;
    display: flex;
    max-width: 412px;
    flex-direction: column;
    align-items: center;
    color: #18191f;
    font: 500 23px/1 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .title {
    font-feature-settings: "liga" off, "clig" off;
    max-width: 100%;
    overflow: hidden;
    font-size: 36px;
  }

  .input {
    font-feature-settings: "liga" off, "clig" off;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 23px;
  }
  
  input::placeholder {
    font-size: 23px;
  }

  .inputWrapper {
    border-radius: 16px;
    border: 2px solid #18191f;
    background-color: #fff;
    display: flex;
    margin-top: 20px;
    max-width: 327px;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    font: 500 21px/1 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .inputContent {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0;
    width: 100%;
    border: none;
  }
  
  .inputIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .inputLabel {
    font-feature-settings: "liga" off, "clig" off;
    align-self: stretch;
    width: 251px;
    margin: auto 0;
    font-size: 23px;
  }
  
  .dateWrapper {
    border-radius: 20px;
    border: 2px solid #18191f;
    background-color: #fff;
    display: flex;
    margin-top: 20px;
    padding-left: 16px;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-between;
  }
  
  .dateLabel {
    font-feature-settings: "liga" off, "clig" off;
    margin: auto 0;
  }
  
  .dateIcon {
    aspect-ratio: 0.79;
    object-fit: contain;
    object-position: center;
    width: 44px;
  }
  
  .descriptionWrapper {
    border-radius: 16px;
    border: 2px solid #18191f;
    background-color: #fff;
    display: flex;
    margin-top: 31px;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 16px 89px;
  }
  
  .descriptionLabel {
    font-feature-settings: "liga" off, "clig" off;
    align-self: stretch;
    width: 100%;
    gap: 12px;
    overflow: hidden;
  }
  
  .submitButton {
    align-items: center;
    border-radius: 16px;
    background-color: #ffbd12;
    display: flex;
    margin-top: 20px;
    width: 99%;
    flex-direction: column;
    overflow: hidden;
    color: #18191f;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    padding: 16px;
    border: 2px solid var(--Colors-Black, #18191f);;
    cursor: pointer;
    font-size: 23px;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;;
  }
  
  .buttonContent {
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    justify-content: flex-start;
  }
  
  .buttonText {
    font-feature-settings: "liga" off, "clig" off;
    align-self: stretch;
    margin: auto 0;
  }
  
  .buttonIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
  }
  


