.addTaskForm {
  border-radius: 1rem; /* 16px */
  border: 0.125rem solid #18191f; /* 2px */
  box-shadow: 0 0.393rem 0 0 #18191f; /* 2px */
  background-color: #d6fcf7;
  margin-top: 1.0625rem; /* 17px */
  max-width: 90vw; /* 412px */
  padding: 0.8125rem 1.0625rem 1.375rem; /* 13px 17px 22px */
  font: 1.4375rem/1 Montserrat, sans-serif; /* 23px */
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.addTaskTitle {
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.4375rem; /* 23px */
  font-weight: 700;
  line-height: 1.625rem; /* 26px */
  align-self: flex-start;
}

.addTaskinputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; /* 10px */
}

.addTaskinputWrapper, .addTaskdateWrapper{
  width: 80%;
}

.addTaskinputContainer {
  border-radius: 0.6245rem; /* 10px */
  border: 0.125rem solid #18191f; /* 2px */
  background-color: #fff;
  display: flex;
  padding: 0.5625rem 0.625rem; /* 9px 10px */
  font-size: 1.4375rem; /* 23px */
}

.addTaskinputIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 1.5625rem; /* 25px */
  margin-right: 1rem; /* 7px */
}

.addTasktaskInput {
  font-feature-settings: "liga" off, "clig" off;
  border: none;
  background: transparent;
  width: 100%;
  font: inherit;
  height: 2rem; /* 23px */
}

.addTaskdateWrapper {
  border-radius: 0.625rem; /* 10px */
  border: 0.125rem solid #18191f; /* 2px */
  background-color: #fff;
  display: flex;
  margin-top: 0.0625rem; /* 1px */
  padding-left: 0.3125rem; /* 5px */
  gap: 0.3125rem; /* 5px */
  overflow: hidden;
  white-space: nowrap;
  height: 3rem; /* 40px */
}

.addTaskdeadlineInput {
  border: none;
  background: transparent;
  font-size: 1rem; /* 16px */
  padding: 0.3125rem; /* 5px */
  width: 100%;
  font: Montserrat, sans-serif;
  -webkit-appearance: none;
  appearance: none;

}

.addTaskdateLabel {
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.4375rem; /* 23px */
  margin: auto 0;
  padding-left: 1rem;
}

.calendarIcon {
  aspect-ratio: 0.79;
  object-fit: contain;
  object-position: center;
  width: 2.75rem; /* 44px */
}

.addTaskaddButton {
  font-feature-settings: "liga" off, "clig" off;
  border-radius: 0.787rem; /* 12.647px */
  border: 0.125rem solid #18191f; /* 2.108px */
  background-color: #ffbd12;
  box-shadow: 0 0.125rem 0 0 #18191f; /* 3px */
  align-self: flex-end;
  margin-top: auto;
  min-height: 2.25rem; /* 36px */
  overflow: hidden;
  font-weight: 800;
  font-size: 1.4375rem; /* 23px */
  white-space: nowrap;
  text-align: center;
  padding: 0.625rem 1.0625rem; /* 10px 17px */
  cursor: pointer;
  margin: 1.25rem 0 0; /* 20px 0 0 */
  display: flex;
  justify-content: flex-end;
  font: 1.4375rem/1 Montserrat, sans-serif;
  font-weight: 800;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .addTaskForm {
    width: 80vw; /* 700px */
    padding: 1.5625rem;
  }

  .addTaskTitle {
    font-size: 1.625rem; /* 26px */
  }

  .addTaskinputContainer {
    font-size: 1.3125rem; /* 21px */
  }

  .addTaskaddButton {
    font-size: 1.625rem;
    padding: 1rem 1.875rem;
  }
}

@media (min-width: 1024px) {
  .addTaskForm {
    width: 70vw; /* 800px */
    padding: 1.5625rem;
    
  }

  .addTaskTitle {
    font-size: 1.75rem; /* 28px */
  }

  .addTaskinputContainer {
    font-size: 1.4375rem; /* 23px */
  }

  .addTaskaddButton {
    font-size: 1.625rem;
    padding: 1rem 1.875rem;
  }
  .addTaskdeadlineInput {
    font-size: 1.4375rem;
    
  }


}
