.card {
  background-color: #fff;
  max-width: 90vw; /* 412px */
  width: 100%;

  flex-direction: column;
  margin: 0 auto;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.cardcontent {
  display: flex;
  margin-top: 0.625rem; /* 10px */
  width: 100%;
  flex-direction: column;
}

.cardframe {
  border-radius: 1rem; /* 16px */
  border: 0.125rem solid #18191f; /* 2px */
  background: #e9e7fc;
  box-shadow: 0 0.125rem 0 0 #18191f; /* 2px */
  display: flex;
  min-height: 20vh; /* 166px relative to viewport height */
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding: 1.5625rem 2rem 2rem; /* 25px 32px 32px */
  box-sizing: border-box;
  margin-top: 4rem;
}

.cardcreatedDate {
  color: #474a57;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 0.9375rem; /* 15px */
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: right;
}

.cardprojectTitle {
  color: #18191f;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.5625rem; /* 25px */
  font-weight: 800;
  line-height: 1;
  margin-top: 0.5rem; /* 8px */
}

.cardactionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem; /* 20px */
}

.carddetailsButton {
  align-items: center;
  border-radius: 0.75rem; /* 12px */
  border: 0.09375rem solid #18191f; /* 1.5px */
  background: #ffbd12;
  box-shadow: 0 0.1875rem 0 0 #18191f; /* 3px */
  z-index: 10;
  display: flex;
  min-height: 6vh; /* 44px relative to viewport height */
  width: 20vw; /* 127px relative to viewport width */
  max-width: 100%;
  flex-direction: column;
  overflow: hidden;
  font-size: 1.125rem; /* 18px */
  color: #18191f;
  font-weight: 800;
  text-align: center;
  line-height: 1;
  justify-content: center;
  margin: -0.0625rem 0 0 1.0625rem; /* -1px 0 0 17px */
  padding: 0.6875rem 0.75rem; /* 11px 12px */
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: #18191f;
}

.carddetailsButtonText {
  align-self: stretch;
  gap: 0.125rem; /* 2px */
  overflow: hidden;
  text-decoration: none;
}

.cardcheckboxContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cardcheckbox {
  border-radius: 0.5rem; /* 8px */
  border: 0.125rem solid #9fa4b4; /* 2px */
  background: #eeeff4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw; /* 40px relative to viewport width */
  height: 10vw; /* 40px relative to viewport width */
  cursor: pointer;
  position: relative;
}

.cardcheckbox.checked {
  background: #9fa4b4;
}

.cardcheckbox:focus {
  outline: 0.125rem solid #fff; /* 2px */
  outline-offset: 0.125rem; /* 2px */
}

.cardcheckboxIcon {
  width: 10vw; /* 40px relative to viewport width */
  height: 10vw; /* 40px relative to viewport width */
  object-fit: contain;
  object-position: center;
  position: absolute;
}

/* Styles for tablets (768px to 1024px) */
@media (min-width: 48em) and (max-width: 64em) {
  .card {
    max-width: 37.5rem; /* 600px */

    margin: auto;
  }

  .cardframe {
    padding: 2rem 2.5rem;
    min-height: 25vh; /* 200px relative to viewport height */
  margin-top: 3rem;

  }

  .cardprojectTitle {
    font-size: 1.875rem; /* 30px */
  }

  .carddetailsButton {
    font-size: 1.25rem; /* 20px */
    min-height: 6vh; /* 50px relative to viewport height */
    width: 22vw; /* 140px relative to viewport width */
    padding: 0.75rem 1rem; /* 12px 16px */
  }

  .cardcheckbox, .cardcheckboxIcon  {
    width: 5vw; /* 50px relative to viewport width */
    height: 5vw; /* 50px relative to viewport width */
  }

}

/* Styles for larger screens (1024px and up) */
@media (min-width: 64em) {
  .card {
    font-family: 'Montserrat', sans-serif;
    max-width: 50rem; /* 800px */
    margin: auto;
  }

  .cardframe {
    padding: 2.5rem 3rem;
    min-height: 31.25vh; /* 250px relative to viewport height */
   margin-top: 4rem;
  }

  .cardprojectTitle {
    font-size: 2.25rem; /* 36px */
  }

  .carddetailsButton {
    font-size: 1.5rem; /* 24px */
    min-height: 7.5vh; /* 60px relative to viewport height */
    width: 15vw; /* 160px relative to viewport width */
    padding: 0.875rem 1.25rem; /* 14px 20px */
  }

  .cardcheckbox, .cardcheckboxIcon  {
    width: 3vw; /* 50px relative to viewport width */
    height: 3vw; /* 50px relative to viewport width */
  }
}
