.card {
    background-color: #fff;
    max-width: 480px;
    width: 100%;
    padding-bottom: 20px;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
}

.content {
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
}

.frame {
    border-radius: 16px;
    border: 2px solid #18191f;
    background: #e9e7fc;
    box-shadow: 0 2px 0 0 #18191f;
    display: flex;
    min-height: 166px;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    padding: 25px 32px 32px;
    box-sizing: border-box;
}

.createdDate {
    color: #474a57;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    display: flex;
    justify-content: right;
}

.projectTitle {
    color: #18191f;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 25px;
    font-weight: 800;
    line-height: 1;
    margin-top: 8px;
}

.actionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Adjust if needed */
  }

.detailsButton {
    align-items: center;
    border-radius: 12px;
    border: 1.5px solid #18191f;
    background: #fff;
    box-shadow: 0 3px 0 0 #18191f;
    z-index: 10;
    display: flex;
    min-height: 44px;
    width: 127px;
    max-width: 100%;
    flex-direction: column;
    overflow: hidden;
    font-size: 18px;
    color: #18191f;
    font-weight: 800;
    text-align: center;
    line-height: 1;
    justify-content: center;
    margin: -1px 0 0 17px;
    padding: 11px 12px;
    text-decoration: none;
}

.detailsButtonText {
    align-self: stretch;
    gap: 2px;
    overflow: hidden;
    text-decoration: none;
}

.checkboxContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkbox {
    border-radius: 8px;
    border: 2px solid #9fa4b4;
    background: #eeeff4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}

.checkbox.checked {
    background: #9fa4b4;
}

.checkbox:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
}

.checkboxIcon {
    width: 40px; 
    height: 40px;
    object-fit: contain;
    object-position: center;
    position: absolute;
}
