.card {
  background-color: #fff;
  max-width: 90vw;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.cardcontent {
  display: flex;
  margin-top: 0.625rem;
  width: 100%;
  flex-direction: column;
}

.cardframe {
  border-radius: 1rem;
  border: 0.125rem solid #18191f;
  background: #e9e7fc;
  box-shadow: 0 0.125rem 0 0 #18191f;
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding: 1.5625rem 2rem 2rem;
  box-sizing: border-box;
  margin-top: 4rem;
}

.cardcreatedDate {
  color: #474a57;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: right;
}

.cardprojectTitle {
  color: #18191f;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.5625rem;
  font-weight: 800;
  line-height: 1;
  margin-top: 0.5rem;
}

.cardactionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
}

.carddetailsButton {
  align-items: center;
  border-radius: 0.75rem;
  border: 0.09375rem solid #18191f;
  background: #ffbd12;
  box-shadow: 0 0.1875rem 0 0 #18191f;
  z-index: 10;
  display: flex;
  min-height: 6vh;
  max-width: 100%;
  flex-direction: column;
  overflow: hidden;
  font-size: 1.125rem;
  color: #18191f;
  font-weight: 800;
  text-align: center;
  line-height: 1;
  justify-content: center;
  margin: -0.0625rem 0 0 1.0625rem;
  padding: 0.6875rem 0.75rem;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: #18191f;
}

.carddetailsButtonText {
  align-self: stretch;
  gap: 0.125rem;
  overflow: hidden;
  text-decoration: none;
}

.cardcheckboxContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cardcheckbox {
  border-radius: 0.5rem;
  border: 0.125rem solid #9fa4b4;
  background: #eeeff4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  position: relative;
}

.cardcheckbox.checked {
  background: #9fa4b4;
}

.cardcheckbox:focus {
  outline: 0.125rem solid #fff;
  outline-offset: 0.125rem;
}

.cardcheckboxIcon {
  width: 10vw;
  height: 10vw;
  object-fit: contain;
  object-position: center;
  position: absolute;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    max-width: 37.5rem;
    margin: auto;
  }

  .cardframe {
    padding: 2rem 2.5rem;
    min-height: 25vh;
    margin-top: 3rem;
  }

  .cardprojectTitle {
    font-size: 1.875rem;
  }

  .carddetailsButton {
    font-size: 1.25rem;
    min-height: 6vh;
    width: 22vw;
    padding: 0.75rem 1rem;
  }

  .cardcheckbox,
  .cardcheckboxIcon {
    width: 5vw;
    height: 5vw;
  }

  .cardcreatedDate {
    font-size: 1.5rem;
  }

}

@media (min-width: 1024px) {
  .card {
    font-family: 'Montserrat', sans-serif;
    max-width: 50rem;
    margin: auto;
  }

  .cardframe {
    padding: 2.5rem 3rem;
    min-height: 31.25vh;
    margin-top: 4rem;
  }

  .cardprojectTitle {
    font-size: 2.25rem;
  }

  .carddetailsButton {
    font-size: 1.5rem;
    min-height: 7.5vh;
    width: 15vw;
    padding: 0.875rem 1.25rem;
  }

  .cardcheckbox,
  .cardcheckboxIcon {
    width: 4vw;
    height: 4vw;
  }

  .cardcreatedDate {
    font-size: 1.5rem;
  }

}