.taskCard {
  display: flex;
  margin-top: 1.0625rem; 
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  position: relative;
  max-width: 90vw;
  justify-content: center;
  align-items: center;
  
}

.taskLabel{
  font-size: 1.75rem;
}

.taskContent {
  border-radius: 1.054rem; 
  border: 0.131rem solid #18191f; 
  box-shadow: 0 0.393rem 0 0 #18191f; 
  background-color: #e9e7fc;
  display: flex;
  min-height: 9.4375rem; 
  flex-direction: column;
  overflow: hidden;  
  padding: 1.25rem 1.4375rem; 
  width: 80vw;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.taskDeadline {
  color: #474a57;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.125rem; 
  font-weight: 800;
  line-height: 1;
}

.taskDescription {
  color: #18191f;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.4375rem; 
  font-weight: 800;
  line-height: 1.4;
  margin-top: 0.5rem; 
}

.taskdeleteButton {
  font-feature-settings: "liga" off, "clig" off;
  border-radius: 0.789rem; 
  border: 0.125rem solid #18191f; 
  box-shadow: 0 0.125rem 0 0 #18191f; 
  background-color: #ffbd12;
  align-self: flex-end;
  margin-top: auto;
  min-height: 2.25rem;
  overflow: hidden;
  font-weight: 800;
  font-size: 1.4375rem; 
  white-space: nowrap;
  text-align: center;
  padding: 0.625rem 1rem 0.625rem; 
  cursor: pointer;
  margin: 1.25rem 0 0; 
  display: flex;
  justify-content: flex-end;
  font-family: Montserrat, sans-serif;
  color: #18191f;
  position: absolute;
  right: 1.8rem; 
}

.checkBoxDeleteContainer {
  display: flex;
  margin-top: 1.875rem; 
  width: 100%;
  gap: 1.25rem; 
  justify-content: space-between;
}

.taskcheckboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.taskcheckbox {
  border-radius: 0.5rem; 
  border: 0.125rem solid #9fa4b4; 
  background: #eeeff4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw; 
  height: 10vw; 
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.taskcheckbox.checked {
  background: #9fa4b4;
}

.taskcheckbox:focus {
  outline: 0.125rem solid #fff; 
  outline-offset: 0.125rem; 
}

.taskcheckboxIcon {
  width: 10vw; 
  height: 10vw; 
  object-fit: contain;
  object-position: center;
  position: absolute;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .taskCard {
    width: 70vw; 
  }
  .taskContent{
    margin: auto;
    width: 80vw;
  }

  .taskcheckbox {
    width: 7vw; 
    height: 7vw; 
  }

  .taskcheckboxIcon {
    width: 7vw; 
    height: 7vw; 
  }
  .taskdeleteButton{
    font-size: 1.625rem;
    padding: 1rem 1.875rem;
  }
}

@media (min-width: 1024px) {
  .taskContent{
    margin: auto;
    width: 70vw;
  }

  .taskcheckbox {
    width: 5vw; 
    height: 5vw; 
  }

  .taskcheckboxIcon {
    width: 5vw; 
    height: 5vw; 
  }
  .taskdeleteButton{
    font-size: 1.625rem;
    padding: 1rem 1.875rem;
  }
}
